@font-face {
  font-family: "Nes Controller";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/NES_Controller_CAD_MrShrike.ttf");
}
@font-face {
  font-family: "Pretendo";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/pretendo-webfont.ttf");
}

body {
  background: #ffffff;
  min-width: 720px;
}

.controller {
  width: 560px;
  height: 250px;
  margin: 50px auto;
  background: #e6e6e6;
  border-radius: 10px;
}
.controller:before {
  content: "";
  position: absolute;
  width: 560px;
  height: 250px;
  background: #f2f2f2;
  border-radius: 10px;
  margin-top: 15px;
}
.controller .cable {
  position: absolute;
  width: 14px;
  height: 400px;
  background: #333333;
  margin-left: 150px;
  margin-top: -398px;
}
.controller .cable:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 8px;
  background: #cdcdcd;
  margin-top: 400px;
  margin-left: -3px;
}
.controller .inner-frame {
  position: absolute;
  width: 530px;
  height: 200px;
  background: #333333;
  border-radius: 5px;
  margin: 50px 0px 0px 15px;
}
.controller .inner-frame .arrow-pad {
  position: absolute;
  width: 120px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 5px;
  margin: 90px 0px 0px 30px;
}
.controller .inner-frame .arrow-pad:before {
  content: "";
  position: absolute;
  background: #f2f2f2;
  width: 50px;
  height: 120px;
  border-radius: 5px;
  margin: -35px 0px 0px 35px;
}
.controller .inner-frame .arrow-pad > .inner-pad {
  position: absolute;
  width: 110px;
  height: 35px;
  background: #333333;
  margin: 5px;
  border-radius: 3px;
}
.controller .inner-frame .arrow-pad > .inner-pad:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 105px;
  background: #333333;
  margin: -35px 0px 0px 35px;
  border-radius: 3px;
}
.controller .inner-frame .arrow-pad > .inner-pad.shadow {
  background: #1a1a1a;
  margin-top: 10px;
}
.controller .inner-frame .arrow-pad > .inner-pad.shadow:before {
  background: #1a1a1a;
}
.controller .inner-frame .arrow-pad > .inner-pad .arrow {
  position: absolute;
  background: #454545;
  width: 10px;
  height: 15px;
}
.controller .inner-frame .arrow-pad > .inner-pad .arrow:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  /* left arrow slant */
  border-right: 10px solid transparent;
  /* right arrow slant */
  border-bottom: 10px solid #454545;
  /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
  margin: -6px 0px 0px -5px;
}
.controller .inner-frame .arrow-pad > .inner-pad .arrow:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 34px;
  background: rgba(0, 0, 0, 0);
  margin-left: -15px;
  margin-top: -12px;
}
.controller .inner-frame .arrow-pad > .inner-pad .arrow:hover:after,
.controller .inner-frame .arrow-pad > .inner-pad .arrow.pressed:after {
  background: rgba(0, 0, 0, 0.3);
}
.controller .inner-frame .arrow-pad > .inner-pad .arrow.arrow-left {
  transform: rotate(-90deg);
  margin: 12px 0px 0px 15px;
}
.controller .inner-frame .arrow-pad > .inner-pad .arrow.arrow-right {
  transform: rotate(90deg);
  margin: 12px 0px 0px 85px;
}
.controller .inner-frame .arrow-pad > .inner-pad .arrow.arrow-up {
  transform: rotate(0deg);
  margin: -20px 0px 0px 50px;
}
.controller .inner-frame .arrow-pad > .inner-pad .arrow.arrow-down {
  transform: rotate(180deg);
  margin: 45px 0px 0px 50px;
}
.controller .inner-frame .center {
  position: absolute;
  width: 160px;
  height: 200px;
  margin-left: 180px;
  overflow: hidden;
}
.controller .inner-frame .center .square {
  width: 160px;
  height: 30px;
  background: #999999;
  border-radius: 10px;
  margin-top: 10px;
}
.controller .inner-frame .center .square.square-1 {
  margin-top: -10px;
  height: 40px;
}
.controller .inner-frame .center .square.square-3 .select,
.controller .inner-frame .center .square.square-3 .start {
  position: absolute;
  font-size: 20px;
  font-family: "nes controller";
  color: #d0300c;
  margin: 7px;
  line-height: 1;
}
.controller .inner-frame .center .square.square-3 .select {
  margin-left: 15px;
}
.controller .inner-frame .center .square.square-3 .start {
  margin-left: 95px;
}
.controller .inner-frame .center .square.square-4 {
  height: 50px;
  background: #bdbdbd;
}
.controller .inner-frame .center .square.square-4:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 40px;
  background: #cccccc;
  border-radius: 10px;
  margin: 5px;
}
.controller .inner-frame .center .square.square-4 > .button {
  position: absolute;
  width: 40px;
  height: 15px;
  border-radius: 8px;
  background: #1a1a1a;
  margin-top: 20px;
}
.controller .inner-frame .center .square.square-4 > .button:before {
  content: "";
  position: absolute;
  background: #333333;
  width: 40px;
  height: 15px;
  border-radius: 8px;
  margin-top: -4px;
}
.controller .inner-frame .center .square.square-4 > .button:hover:before,
.controller .inner-frame .center .square.square-4 > .button.pressed:before {
  margin-top: -2px;
}
.controller .inner-frame .center .square.square-4 > .button.select-button {
  margin-left: 25px;
}
.controller .inner-frame .center .square.square-4 > .button.start-button {
  margin-left: 95px;
}
.controller .inner-frame .ab-pad .pad {
  position: absolute;
  width: 63px;
  height: 63px;
  background: #cccccc;
  border-radius: 10px;
}
.controller .inner-frame .ab-pad .pad:after {
  content: "";
  position: absolute;
  margin: 63px 0px 0px 50px;
  color: #d0300c;
  font-size: 30px;
  line-height: 1;
  font-family: "Nes Controller";
}
.controller .inner-frame .ab-pad .pad.pad-a {
  margin: 110px 0px 0px 445px;
}
.controller .inner-frame .ab-pad .pad.pad-a:after {
  content: "A";
}
.controller .inner-frame .ab-pad .pad.pad-b {
  margin: 110px 0px 0px 370px;
}
.controller .inner-frame .ab-pad .pad.pad-b:after {
  content: "B";
}
.controller .inner-frame .ab-pad .pad > .button {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #d0300c;
  margin: 11px 9px;
  cursor: pointer;
}
.controller .inner-frame .ab-pad .pad > .button:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #f2441d;
  margin-top: -5px;
}

.controller .inner-frame .ab-pad .pad > .button.pressed:after {
  margin-top: -2px;
}
.controller .inner-frame .nintendo-logo {
  position: absolute;
  font-family: "pretendo";
  color: #d0300c;
  font-size: 20px;
  margin: 30px 0px 0px 385px;
}

.prompt-container {
  max-width: 800px;
  margin: 20px auto;
}
